body {
  background-color: #fff5ea;
}

.top {
  background-color: wheat;
  position: sticky;
  top: 0;
  z-index: 1;
}

.top_bar {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 840px) {
  .top_bar {
    width: 100%;
  }
}

.top_logo {
  font-family: "Lobster", cursive;
  font-size: 25px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  text-align: left;
  width: 300px;
}
@media screen and (max-width: 840px) {
  .top_logo {
    margin-left: 15px;
  }
}

.top_search > input {
  border: 1px solid #968c83;
  border-radius: 3px;
  outline: none;
  width: 250px;
  padding: 2px 3px;
  text-align: center;
}
@media screen and (max-width: 840px) {
  .top_search {
    display: none;
  }
}

.top_icons {
  list-style: none;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  width: 300px;
}

.top_icons .top_icon {
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

.top_icons img {
  width: 25px;
  border-radius: 50%;
  padding: 1.3px;
  border: 2px solid black;
}

.mainBody {
  width: 800px;
  margin: 0 auto;
}
@media screen and (max-width: 840px) {
  .mainBody {
    width: 100%;
  }
}

.profile {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 840px) {
  .profile {
    align-items: flex-start;
  }
}

.profile_picture > img {
  width: 200px;
  border-radius: 50%;
  margin: 30px 50px 50px 50px;
}
@media screen and (max-width: 840px) {
  .profile_picture > img {
    width: 90px;
    margin: 15px;
  }
}

.profile_info {
  font-family: "Rajdhani", sans-serif;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media screen and (max-width: 840px) {
  .profile_info {
    height: 80px;
  }
}

.profile_top {
  display: flex;
  align-items: center;
}

.profile_name {
  font-size: 25px;
  padding-right: 15px;
}
@media screen and (max-width: 840px) {
  .profile_name {
    font-size: 30px;
  }
}

.profile_Edit {
  font-weight: bold;
  cursor: pointer;
  margin-right: 15px;
  padding: 2px 3px;
  background-color: transparent;
  border: 1px solid #968c83;
  border-radius: 3px;
  outline: none;
}
@media screen and (max-width: 840px) {
  .profile_Edit {
    width: 75%;
    position: absolute;
    top: 120px;
  }
}

.profile_icon {
  font-size: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}
@media screen and (max-width: 840px) {
  .profile_icon {
    font-size: 25px;
  }
}

@media screen and (max-width: 840px) {
  .profile_middle {
    border-top: 1px solid #968c83;
    border-bottom: 1px solid #968c83;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 250px;
    left: 0;
    width: 100%;
  }
}

.profile_middle > span {
  padding-right: 30px;
}
@media screen and (max-width: 840px) {
  .profile_middle > span {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.profile_number {
  font-weight: bold;
}

.profile_bottom {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 840px) {
  .profile_bottom {
    position: absolute;
    top: 170px;
    left: 15px;
  }
}

.profile_bottom > span:nth-child(1) {
  font-weight: bold;
  font-size: 18px;
}

.profile_cherry {
  width: 15px;
}

.album {
  border-top: 1px solid #968c83;
}
@media screen and (max-width: 840px) {
  .album {
    border: none;
    margin-top: 150px;
  }
}

.album_menu {
  font-family: "Rajdhani", sans-serif;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 840px) {
  .album_menu {
    justify-content: space-around;
  }
}

.album_menu > li {
  padding: 10px 30px;
}
@media screen and (max-width: 840px) {
  .album_menu > li {
    width: 100px;
    text-align: center;
  }
}

.album_menu button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  padding-right: 10px;
}
@media screen and (max-width: 840px) {
  .album_menu button {
    padding: 0;
    font-size: 20px;
  }
}

@media screen and (max-width: 840px) {
  .album_menu span {
    display: none;
  }
}

.album_pictures {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.wrap {
  width: calc(1 / 3 * 100% - 10px);
  padding-bottom: 15px;
}

.img {
  width: 100%;
  background-position: center;
  background-size: cover;
  padding-top: 100%;
}

.img.mori1 {
  background-image: url(./picture/1.jpg);
}
.img.mori2 {
  background-image: url(./picture/2.jpg);
}

.img.mori3 {
  background-image: url(./picture/3.jpg);
}

.img.mori4 {
  background-image: url(./picture/4.jpg);
}
.img.mori5 {
  background-image: url(./picture/5.jpg);
}

.img.mori6 {
  background-image: url(./picture/6.jpg);
}
